apiVersion: v1
kind: ConfigMap
metadata:
  name: exporter-config
  namespace: default
data:
  exporter-config.yaml: |
    headers:
{% for header in headers %}
    - name: {{ header.name }}
      default: {{ header.default }} 
{% endfor %}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: exporter
  namespace: default
  labels:
    app: exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: exporter
  template:
    metadata:
      labels:
        app: exporter
    spec:
      containers:
        - name: exporter
          image: docker.io/benneuville/binscale:{{image_tag}}
          imagePullPolicy: Always
          command: ["java", "-jar", "/app/exporter.jar"]
          ports:
            - containerPort: 8080
              name: brom
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: my-cluster-kafka-bootstrap:9092
            - name: MESSAGE_COUNTER_NAME
              value: {{ message_counter_name }}
            - name: HEADERS_CONFIG_PATH
              value: "/config/exporter-config.yaml"
          volumeMounts:
            - name: exporter-config
              mountPath: /config
      volumes:
        - name: exporter-config
          configMap:
            name: exporter-config