
{% if node.targets|length > 0 %}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ node.params.group_id }}-config
  namespace: default
data:
  {{ node.params.group_id }}.yaml: |
    output:
{% for target in node.targets %}
    - name: {{ target.topic_name }}
      ratio: {{ target.ratio }} 
{% endfor %}
---
{% endif %}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ node.id }}
  namespace: default
  labels:
    app: latency
    context: experience
    instance: {{ node.id }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: latency
      context: experience
  template:
    metadata:
      labels:
        app: latency
        context: experience
    spec:
      containers:
        - name: {{ node.id }}
          image: docker.io/benneuville/binscale:{{image_tag}}
          imagePullPolicy: Always
          command: ["java", "-jar", "/app/consumer.jar"]
          ports:
            - containerPort: 8080
              name: brom
          env:
            - name: BOOTSTRAP_SERVERS
              value: my-cluster-kafka-bootstrap.default.svc.cluster.local:9092
            - name: TOPIC
              value: {{ node.params.topic_name }}
            - name: GROUP_ID
              value: {{ node.params.group_id }}
            - name: MESSAGE_COUNT
              value: "1000000"
            - name: CONSUMPTION_RATE
              value: "{{ node.params.consumption_rate }}"
            - name: SCALE
              value: "{{ node.params.scale }}"
            - name: SHAPE
              value: "{{ node.params.shape }}"
            - name: TIME_TO_COMMIT
              value: "50"
            - name: WSLA
              value: "{{ node.params.wsla }}"
            - name: ASYNC_COMMIT
              value: "False"
{% if node.params.time_before_availability %}
            - name: TIME_BEFORE_AVAILABILITY
              value: "{{ node.params.time_before_availability }}"
{% endif %}
{% if node.targets|length > 0 %}{% if node.params.processing_strategy %}
            - name: PROCESSING_STRATEGY
              value: "{{ node.params.processing_strategy }}"
{% endif %}
            - name: TOPICS_DISTRIBUTION_CONFIG_PATH
              value: "/config/{{ node.params.group_id }}.yaml"
          volumeMounts:
            - name: {{ node.params.group_id }}-config
              mountPath: /config
      volumes:
        - name: {{ node.params.group_id }}-config
          configMap:
            name: {{ node.params.group_id }}-config
{% endif %}