apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: pre-pull-image
  labels:
    app: pre-pull-image
spec:
  selector:
    matchLabels:
      app: pre-pull-image
  template:
    metadata:
      labels:
        app: pre-pull-image
    spec:
      containers:
      - name: pre-pull
        image: docker.io/benneuville/binscale:{{image_tag}}
        command: ["sh", "-c", "echo 'Image pulled and cached'"]
      terminationGracePeriodSeconds: 0
      serviceAccountName: pre-pull-sa
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pre-pull-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: daemonset-deleter
rules:
- apiGroups: ["apps"]
  resources: ["daemonsets"]
  verbs: ["get", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: daemonset-deleter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: daemonset-deleter
subjects:
- kind: ServiceAccount
  name: pre-pull-sa