apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ node.id }}
  namespace: default
  labels:
    app: workload
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ node.id }}
  template:
    metadata:
      labels:
        app: {{ node.id }}
    spec:
      containers:
        - name: java-kafka-producer
          image: docker.io/benneuville/binscale:hf
          imagePullPolicy: Always
          command: ["java", "-jar", "/app/producer.jar"]
          env:
            - name: BOOTSTRAP_SERVERS
              value: my-cluster-kafka-bootstrap:9092
            - name: TOPIC
              value: {{ node.params.topic_name }}
            - name: PARTITION_WEIGHTS
              value: "{{ node.params.partition_weights }}"
            - name: DELAY_MS
              value: "{{ node.params.delay_ms }}"
            - name: LOG_LEVEL
              value: "INFO"
            - name: PRODUCER_ACKS
              value: "{{ node.params.producer_ack }}"
            - name: ADDITIONAL_CONFIG
              value: |
                retries=100
# NOT REQUIERED DECLARED VARIABLES
            - name: WORKLOAD
              value: "{{ node.params.workload }}" # "constant", "biased", "non_uniform"